<center><h1>Welcome to Food Finder</h1></center>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="well">
        <h3>Let's Find Something to Eat!</h3>
					<div>
					    <%= form_tag results_path do %>
					        <%= text_field_tag :term, nil, placeholder: "What are you hungry for?", class: "form-control" %><br />
					        <%= text_field_tag :address, nil, placeholder:"Where...", class: "form-control" %><br />
					        <%= submit_tag "Feed Me!", class: "btn btn-primary" %>
					    <% end %>
					</div>
       </div>
    </div>
</div>